.App {
  width: 100%;
  padding: 0 50px 40px 50px;
  background-color: #F2F8FC;
}

.header, .filterItem, .searchInput::placeholder, .title, .year, .country {
  color: #6C63FF;
}

.contentHeader {
  font-family: 'DECORATIVE';
  color: #6C63FF;
}

input {
  outline: none;
  border: none;
  background-color: #F2F8FC;
}

button, .search, .year, .country {
  border-color: #6C63FF;
}

.year, .country {
  background-color: #D8DAFD;
}

.bookImage {
  width: 309px;
  height: 449px;
}

.bookCard:hover {
  z-index: 1;
  transform: scale(1.1);
  transition: 0.2s ease-in;
  cursor: pointer;
  box-shadow: 0 8px 50px #D8DAFD;
}

.footerBooksTxt {
  font-family: 'Cinzel Decorative';
  color: #6C63FF;
}

.footerHavenTxt {
  font-family: 'Cinzel Decorative';
}

@media (min-width: 768px) { 
  .App {
    padding: 0 80px 40px 80px;
  }
 }